apiVersion: v1
kind: Service
metadata:
  name: iris-fastapi-service
  annotations:
    cloud.google.com/neg: '{"ingress": true}' 
spec:
  selector:
    app: iris-fastapi-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: LoadBalancer
